body {
    font-family: Arial, Helvetica, sans-serif;
}

#headshot {
    height: 150px;
    border-radius: 10%;
    box-shadow: 2px 2px 2px gray;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../assets/images/istockphoto-1322146286-170667a.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header div {
    width: 50%;
}
header div a {
    text-decoration: none;
    color: aliceblue;
}


header nav {
    margin: 7px 0;
    width: 50%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    color: aliceblue;
    padding: 10px 15px;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.55vw;
    text-shadow: 0 0 10px;
}

header h1 a {
    color: aliceblue;
    border-bottom: 0;
} 

main {
    background-color: rgb(245, 245, 197);
}
section {
    display: flex;
}

section .title {
    width: 20%;
}

section .content {
    width: 60%;
    border: 1px solid black;
    
}


.row {
    display: flex;
    height: 200px;
    border: 1px solid black;
}
.left, .right {
    border: 1px solid black;
    width: 50%;
}

#contact {
    display: flex;
    height: 200px;
}

#resume {
    display: flex;
    height: 200px;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    /*fill in with rules*/
}

@media screen and (max-width: 575px) {
    /*fill in with rules*/
}